extends layout

block content
    link(rel='stylesheet', href='/stylesheets/nodeflix.css')
    script(src='javascripts/nodeflix.js')
    nav(class="navbar navbar-inverse")
        div(class="container-fluid")
            div(class="navbar-header")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

            div(class="collapse navbar-collapse" id="myNavbar")
            ul(class="nav navbar-nav")
                li
                    a(href="/") Home
                li(class="active")
                    a(href='/Nodeflix') Nodeflix

            ul(class="nav navbar-nav navbar-right")
                li
                    a(href="/Login/logout")
                        span(class="glyphicon glyphicon-log-out")
                        span  Logout

    div(class="container-fluid text-center")
        div(class="row content")
            div(class="col-sm-12 text-left")
                div(id="wrapper")                    
                    div(class="title text-center h1") Shows
                    
                    div(class="module-section clearfix")
                        ul(id="showscontent")

        div(class="row content")
            div(class="col-sm-12 text-left")
                div(id="wrapper")                    
                    div(class="title text-center h1") Movies
                    
                    div(class="module-section clearfix")
                        ul(id="moviecontent")