body {
    background-color: #555555;
}

h4 {
    color: #999999;
}

a {
    color: #bbbbbb;
}

a:hover {
    color: #999999;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {

}